@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HareDu.MVC Monitoring</title>
    </head>
    <body>
        <h1>HareDu.MVC Monitoring</h1>
        <p>Monitor your RabbitMQ message queues using ASP.NET MVC and SignalR</p>

        @Html.ActionLink("Realtime tracking", "Index", "MessageCount")
    </body>
</html>